body{
background-image: url("../img/header.jpg");
}
.register{
    margin-top: 3%;
    padding: 3%;
    
}

.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #ff0000;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background-color:red;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}




